@tailwind base;
@tailwind components;
@tailwind utilities;

.focus {
  @apply focus:outline-none focus:ring-4 focus:ring-accent focus:shadow-2xl focus:rounded-lg;
}

* ::selection {
  background-color: #ffc40d;
  color: black;
}

* ::-moz-selection {
  background-color: #ffc40d;
  color: black;
}

html body {
  background-color: black;
  color: white;
}
